syntax: glob
*.svn
*.o
*.lo
*.la
*.lai
*.so
*.so.*
*.d
*.exe
*.com
*.lib
*.a
*.obj
*.pdb
*.suo
*.opensdf
*.sdf
*.ilk
*.exp
*.user
*~
*.depend
*.manifest
*.file
*.layout
*.kdevelop.pcs
*.cbTemp
#Makefile.in
CMakeFiles/*
CMakeCache.txt
logging*.txt
logging.txt.*
*.orig
*.utf32to8dummy
*.backup
*.key
*.rec
*.def
*.deps
*.pc
*.log
profile.txt
results*.txt
profile*.txt
valgrind.txt
libtool
config.status
a.out
*.zip
*.tar.gz
local.properties
.git
.directory
*.keystore
Irrlicht.dll
OpenAL32.dll
SDL.dll
libalut.dll
cmake_install.cmake
Makefile
media/userdata/*.rec
media/userdata/*.xml
ghosts/*.rec
tests/*.bmp
test_results/*
src/CppCheckResults.xml
src/.linux32objs/*
src/.linux32objsD/*
src/.linux64objs/*
src/.linux64objsD/*
src/.win32objs/*
src/.win32objsD/*

# The following are somewhat special. They actually should be the repository (at least most of them)
# But those folders should never be distributed (rights will make this impossible). So if we need a repo for them they just need to get own projects for now.
MediaTest/*
MediaSource/*
media/*
media_demo/*
media_i18n/*

#android build files
build/android/testrun*
build/android/bin
build/android/libs
build/android/gen
build/android/obj
build/android/assets

#msvc build files
build/msvc/Debug
build/msvc/Release

#binaries and releases
releases/*
hovercraft
hovercraftD
hovercraft64
hovercraftD64

#libraries
libs/directx/include/config.h
libs/directx/include/dsound.h
libs/irrlicht_ogl-es/*
libs/irrlicht/*
libs/linux_shared/*
