syntax: glob
*.svn
*.o
*.lo
*.la
*.lai
*.so
*.so.*
*.d
*.exe
*.com
*.lib
*.a
*.obj
*.pdb
*.suo
*.opensdf
*.sdf
*.ilk
*.exp
*.user
*~
*.depend
*.manifest
*.file
*.layout
*.kdevelop.pcs
*.cbTemp
#Makefile.in
CMakeFiles/*
CMakeCache.txt
logging*.txt
logging.txt.*
*.orig
*.utf32to8dummy
*.backup
*.key
*.rec
*.def
*.deps
*.pc
*.log
profile.txt
results*.txt
profile*.txt
valgrind.txt
libtool
config.status
a.out
*.zip
*.tar.gz
local.properties
.git
.directory
*.keystore
Irrlicht.dll
OpenAL32.dll
SDL.dll
libalut.dll

media/userdata/*.rec
media/userdata/*.xml
ghosts/*.rec
tests/*.bmp
test_results/*
src/CppCheckResults.xml
src/.linux32objs/*
src/.linux32objsD/*
src/.linux64objs/*
src/.linux64objsD/*
src/.win32objs/*
src/.win32objsD/*

# The following are somewhat special. They actually should be the repository (at least most of them)
# But those folders should never be distributed (rights will make this impossible). So if we need a repo for them they just need to get own projects for now.
MediaTest/*
MediaSource/*
media/*
media_demo/*
media_i18n/*

#android build files
build/android/testrun*
build/android/bin
build/android/libs
build/android/gen
build/android/obj
build/android/assets

#msvc build files
build/msvc/Debug
build/msvc/Release

#binaries and releases
releases/*
hovercraft
hovercraftD
hovercraft64
hovercraftD64

#irrlicht-ogl
libs/irrlicht_ogl-es/examples/irr-playground-micha
libs/irrlicht_ogl-es/tools/*
libs/irrlicht_ogl-es/doctemp/*
libs/irrlicht_ogl-es/bin/Linux/*
libs/irrlicht_ogl-es/bin/MacOSX/*
libs/irrlicht_ogl-es/bin/Win32-gcc/*.dll
libs/irrlicht_ogl-es/bin/Win32-VisualStudio/*.dll
libs/irrlicht_ogl-es/bin/Win64-VisualStudio/*.dll
libs/irrlicht_ogl-es/tests/tests
libs/irrlicht_ogl-es/tests/results
libs/irrlicht_ogl-es/source/Irrlicht/Android/libs
libs/irrlicht_ogl-es/lib/Android/*.a

#irrlicht (and some clones used for testing versions)
libs/irrlicht/examples/irr-playground-micha
libs/irrlicht/tools/*
libs/irrlicht/doctemp/*
libs/irrlicht/bin/Linux/*
libs/irrlicht/bin/MacOSX/*
libs/irrlicht/bin/Win32-gcc/*.dll
libs/irrlicht/bin/Win32-VisualStudio/*.dll
libs/irrlicht/bin/Win64-VisualStudio/*.dll
libs/irrlicht/tests/tests
libs/irrlicht/tests/results
libs/irrlicht/source/Irrlicht/obj

#Gust some temporary folder used while adding the billing and google-play-services api's.
sales

## 
## other libs (which are usually not changed at all, but just in here to build the project from scratch)
## 

# ogg
syntax: regexp
libs/libogg/libogg-1.2.2/.*\Makefile$
syntax: glob
libs/libogg/libogg-1.2.2/include/ogg/config_types.h
libs/libogg/linux/*
libs/libogg/Win32-gcc/*
libs/libogg/android/*

# vorbis
syntax: regexp
libs/libvorbis/libvorbis-1.3.4/.*\Makefile$
syntax: glob
libs/libvorbis/libvorbis-1.3.4/doc/Doxyfile
libs/libvorbis/linux/*
libs/libvorbis/Win32-gcc/*

#freetype
libs/libfreetype/linux
libs/libfreetype/android
libs/libfreetype/Win32-gcc
libs/libfreetype/freetype-2.5.2/config.mk
libs/libfreetype/freetype-2.5.2/objs
libs/libfreetype/freetype-2.5.5/config.mk
libs/libfreetype/freetype-2.5.5/objs

#crypto++
libs/libcrypto++/linux
libs/libcrypto++/Win32-gcc

#sdl
libs/sdl/linux
libs/sdl/Win32-gcc
libs/sdl/SDL-1.2.11/docs
libs/sdl/SDL-1.2.11/test
libs/sdl/SDL-1.2.15/docs
libs/sdl/SDL-1.2.15/test
libs/sdl/SDL-1.2.15/VisualC
libs/sdl/SDL-1.2.15/VisualCE
libs/sdl/SDL-1.2.15/XCode

#openal
libs/openal/linux
libs/openal/Win32-gcc
libs/openal/android
libs/openal/openal-soft-1.12.854/build

# dx really belongs to openal. 
# The combination of cmake and dinput and mingw needs some ugly workarounds.
# Especially when trying to stay legal
# dsound.h is copied from directx-sdk which has to be installed
# sal.h is an own implementation and should be legal and can stay in mercurial
# Other files are temporary files created there because of the way I have to use
# to get cmake and openal to work with that dsound.h file which is copied in there.
libs/directx/include/dsound.h
libs/directx/include/config.h

#freealut
libs/freealut/linux
libs/freealut/Win32-gcc
libs/freealut/android
syntax: regexp
libs/freealut/freealut-1.1.0/.*\Makefile$
syntax: glob
libs/freealut/freealut-1.1.0/autom4te.cache
libs/freealut/freealut-1.1.0/INSTALL
libs/freealut/freealut-1.1.0/COPYING
libs/freealut/freealut-1.1.0/Makefile.in
libs/freealut/freealut-1.1.0/aclocal.m4
libs/freealut/freealut-1.1.0/configure
libs/freealut/freealut-1.1.0/src/Makefile.in
libs/freealut/freealut-1.1.0/admin/autotools
libs/freealut/freealut-1.1.0/admin/pkgconfig/freealut-config
libs/freealut/freealut-1.1.0/examples/Makefile.in
libs/freealut/freealut-1.1.0/include/Makefile.in

# tremor
libs/tremor/android

libs/linux_shared/*
